/* ===============================
   TOC – CORES POR TEMA
================================ */

/* ===== Tema claro ===== */
body[data-bs-theme="light"] #toc-title {
  color: #000000;
}

body[data-bs-theme="light"] nav#TOC a {
  color: #333333;
}

body[data-bs-theme="light"] nav#TOC a.active,
body[data-bs-theme="light"] nav#TOC a:hover {
  color: #1f77b4;
}

/* ===== Tema escuro ===== */
body[data-bs-theme="dark"] #toc-title {
  color: #ffffff;
}

body[data-bs-theme="dark"] nav#TOC a {
  color: #ffffff;
}

body[data-bs-theme="dark"] nav#TOC a.active,
body[data-bs-theme="dark"] nav#TOC a:hover {
  color: #8ab4ff;
}

.quarto-page-navigation {
  margin-top: 2rem;
}

.quarto-page-navigation a {
  font-weight: 600;
  color: #0d6efd;
}

body[data-bs-theme="dark"] .quarto-page-navigation a {
  color: #8ab4ff;
}
.quarto-page-navigation a:hover {
  text-decoration: underline;
}
