/* ===============================
   TÍTULO "Índice"
================================ */
#toc-title {
  color: #1f77b4;      /* cor do título */
  font-weight: 700;
}

/* ===============================
   SETINHA (BOTÃO DO TOC)
================================ */
button.toc-toggle {
  color: #1f77b4 !important;   /* seta */
}

button.toc-toggle svg {
  fill: #1f77b4 !important;    /* SVG da seta */
}

/* ===============================
   BARRA VERTICAL DO TOC
================================ */
nav#TOC {
  border-left: 4px solid #1f77b4 !important;
  padding-left: 10px;
}

/* ===============================
   LINKS DO ÍNDICE
================================ */
nav#TOC a {
  color: #333;
}

nav#TOC a.active {
  color: #1f77b4;
  font-weight: 600;
}

nav#TOC a:hover {
  color: #1f77b4;
}
